<div class="page-wrapper">
	<div class="page-content--bge5">
		<div class="container">
			<div class="login-wrap">
				<div class="login-content">
          <%= render partial: "form", locals: {note: @note} %>
          <br />
          <%= link_to "Cancel", orders_path, class: 'btn btn-secondary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
