<h2>Hi, <%= @user.name %></h2>

<% if @user.orders %>
  <h4>Submitted Orders</h4>
  <ul>
    <% @user.orders.each do |order| %>
      <li><%= order.id %></li>
    <% end %>
  </ul>
 <% else %>
  <h4>You have no orders</h4>
<% end %>
<%= link_to 'Create Order', new_order_path %>