// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin-left: 130px;
  padding: 10px;
}

.grid-item {
  text-align: center;
}

.grid-container.orderList {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container.orderButtons {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  padding: 10px;
}

.orderList .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.orderDetails {
  padding: 0px 50px;
  margin-bottom: 30px;
}

.removeItem:hover {
  color: red;
  font-weight: bold;
}

#userNav {
  
  a {
    display: inline-block;
    margin-left: 10px;
  }
}

.orderTableContainer {
  margin-bottom: 30px;
}